body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

input {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
}

.buttons button {
  margin: 5px;
  padding: 10px;
  width: 80%;
  background-color: #ee92ed;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#tulos {
  margin-top: 20px;
  font-weight: bold;
}