body {
  margin: 0;
  overflow: hidden;
  background: #0a0909;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(115, 47, 116);
  border-radius: 50%;
}
