body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  margin: 0;
  color: #4c0346;
}

.container {
  background-color: #e9c2eb;
  padding: 40px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(67, 11, 67, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#kello {
  font-size: 24px;
  color: #4c0346;
  margin-top: 20px;
}
