body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f4bae8;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #4d063d;
}
p {
  color: #4d063d;
}
